<!-- Выводит пажинированные карточки объявлений -->
<mat-grid-list
  *ngIf="congratulations; else loadingBlock"
  cols="3"
  rowHeight="2:1"
  [style.background]="'red'">
  <mat-grid-tile
    *ngFor="let congratulation of congratulations"
    colspan='1'>
    <app-card-view-low-details
      [congratulation]="congratulation">
    </app-card-view-low-details>
  </mat-grid-tile>
</mat-grid-list>

<!-- Шаблоны:
  https://angular.io/api/core/ng-template#description
  With <ng-template>, you can define
  template content that is only being rendered
  by Angular when you, whether directly or indirectly,
  specifically instruct it to do so, allowing you to
  have full control over how and when the content is displayed. -->

<!-- Выводится, если нет связи с сервисом -->
<ng-template #loadingBlock>
  Загрузка...
</ng-template>
