<div *ngIf="categories" class="col">
  <ul>
    <div>Поиск по категориям</div>
  </ul>
  <ul>
    <virtual-scroller #scroll [items]="categories"
                      (vsUpdate)="onVsUpdate($event)"
                      (vsChange)="onVsChange($event)"
                      (vsStart)="onVsStart($event)"
                      (vsEnd)="onVsEnd($event)"
                      [style.height.px]="viewVirtualScrollerAreaHeight"
                      [style.width.px]="viewVirtualScrollerAreaWidth">
      <div *ngFor="let category of scroll.viewPortItems">
        <!-- Группы категорий -->
        <h2 *ngIf="!category.parentCategoryId">{{category.name}}</h2>
        <!-- Подкатегории -->
        <a class="badge badge-secondary"
           *ngIf="category.parentCategoryId"
           role="button">{{category.name}}
        </a>
        &nbsp;&nbsp;
      </div>
    </virtual-scroller>
  </ul>
</div>
