
<!---------------------------------------------------------------------->
<!-- Top Bar -->
<!---------------------------------------------------------------------->
<app-top-bar></app-top-bar>

<!---------------------------------------------------------------------->
<!-- Сетка -->
<!---------------------------------------------------------------------->
<mat-grid-list
  cols="100"
  rowHeight="80%">

  <!-- Левая колонка 20% -->
  <mat-grid-tile
    id="left-sidebar"
    colspan='20'>
    <app-left-column>
    </app-left-column>
  </mat-grid-tile>

  <!-- Средняя колонка 60% -->
  <mat-grid-tile
    id="main-content"
    colspan='60'>
    <!-- Роутер -->
    <router-outlet></router-outlet>

  </mat-grid-tile>

  <!-- Правая колонка 20% -->
  <mat-grid-tile
    id="right-sidebar"
    colspan='20'>
    <app-right-column></app-right-column>
  </mat-grid-tile>

</mat-grid-list>

<!---------------------------------------------------------------------->
<!-- Bottom Bar -->
<!---------------------------------------------------------------------->
<app-bottom-bar></app-bottom-bar>
