<!---------------------------------------------------------------------->
<!-- Top Bar -->
<!---------------------------------------------------------------------->
<app-top-bar></app-top-bar>

<!---------------------------------------------------------------------->
<!-- Сетка -->
<!---------------------------------------------------------------------->

<!-- Ширина колонок задается отношением:
  cols="100": colspan='20' + colspan='60' + colspan='20' -->
<mat-grid-list cols="100" rowHeight="80%">

  <!-- Левая колонка 20% -->
  <mat-grid-tile colspan='20'>
    <app-left-column></app-left-column>
  </mat-grid-tile>

  <!-- Средняя колонка 60% -->
  <mat-grid-tile colspan='60'>
    <!-- Роутер -->
    <router-outlet></router-outlet>
  </mat-grid-tile>

  <!-- Правая колонка 20% -->
  <mat-grid-tile colspan='20'>
    <app-right-column></app-right-column>
  </mat-grid-tile>

</mat-grid-list>

<!---------------------------------------------------------------------->
<!-- Bottom Bar -->
<!---------------------------------------------------------------------->
<app-bottom-bar></app-bottom-bar>
