<virtual-scroller #scroll [items]="congratulations"
                  (vsUpdate)="onVsUpdate($event)"
                  (vsChange)="onVsChange($event)"
                  (vsStart)="onVsStart($event)"
                  (vsEnd)="onVsEnd($event)"
                  [style.height.px]="viewVirtualScrollerAreaHeight"
                  [style.width.px]="viewVirtualScrollerAreaWidth">

  <div *ngFor="let item of scroll.viewPortItems">
    <congratulation-card [account]="item"> </congratulation-card>
  </div>

</virtual-scroller>
