@import "~bootswatch/dist/CERULEAN/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/CERULEAN/bootswatch";
html,
body{
  height: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}
.footer {
  flex: 0 0 auto;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
